<!DOCTYPE html>
<html >
<head>
  {%  include "design/head.html" %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password</title>
 </head>
<body>
  {%  include "design/adminmid.html" %}
     {%if dl == "kn" %}
        <h2 >ಪಾಸ್ವರ್ಡ್ ಬದಲಿಸಿ</h2>
       
      <div class="container mt-5">
        <center><font color="blue"></font> </center>
        <form method="POST" autocomplete="off">
          
      <div class="row">
      <div class="col-md-6 offset-md-3">
          
            <label for="txtcurrentpassword"><font color="red">*</font> <b> ಪ್ರಸ್ತುತ ಪಾಸ್ವರ್ಡ್</label>
            <input required type="password" autofocus="on" class="form-control"name="txtcurrentpassword"  placeholder=" ಪ್ರಸ್ತುತ ಪಾಸ್ವರ್ಡ್">
          </div>
          <div class="col-md-6 offset-md-3">
            <label for="txtnewpassword"><font color="red">*</font>ಹೊಸ  ಪಾಸ್ವರ್ಡ್</label>
            <input required type="password" class="form-control" name="txtnewpassword" placeholder="ಹೊಸ  ಪಾಸ್ವರ್ಡ್">
          </div>
          <div class="col-md-6 offset-md-3">
            <label for="txtconfirmpassword"><font color="red">*</font>ಹೊಸದನ್ನು ದೃಢೀಕರಿಸಿ ಪಾಸ್ವರ್ಡ್</label>
            <input required type="password" class="form-control" name="txtconfirmpassword"  placeholder="ಹೊಸದನ್ನು ದೃಢೀಕರಿಸಿ ಪಾಸ್ವರ್ಡ್">
          </div>
          <div align="center">         
            <br/>
            <input type="submit" name="btnsubmit" value="ChangePassword" class="btn btn-success " >
            <input type="reset" name="btnreset" value="Cancel" class="btn btn-warning">
          </div>
           </div>
    </div>
    
   {% csrf_token %} 

        </form>
     {%  include "design/last.html" %}
  </div>

{%else%}


  <h2 >Change Password</h2>
       
      <div class="container mt-5">
        <center><font color="blue"></font> </center>
        <form method="POST" autocomplete="off">
          
      <div class="row">
      <div class="col-md-6 offset-md-3">
          
            <label for="txtcurrentpassword"><font color="red">*</font> Current Password</label>
            <input required type="password" class="form-control"name="txtcurrentpassword"  placeholder="Enter current password">
          </div>
          <div class="col-md-6 offset-md-3">
            <label for="txtnewpassword"><font color="red">*</font>New Password</label>
            <input required type="password" class="form-control" name="txtnewpassword" placeholder="Enter new password">
          </div>
       <div class="col-md-6 offset-md-3">
            <label for="txtconfirmpassword"><font color="red">*</font>Confirm New Password</label>
            <input required type="password" class="form-control" name="txtconfirmpassword"  placeholder="Confirm new password">
          </div>
          <div align="center">         
            <br/>
            <input type="submit" name="btnsubmit" value="ChangePassword" class="btn btn-success " >
            <input type="reset" name="btnreset" value="Cancel" class="btn btn-warning">
          </div>
           </div>
    </div>
    
   {% csrf_token %} 

        </form>
     {%  include "design/last.html" %}
  </div>
  {%endif%}
</body>
</html>