<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Expense Master </title>
	        {% include 'design/head.html' %}
</head>

<body>
	 {% include 'design/adminmid.html' %}
	  {% include 'design/msg.html' %}
      {%if dl == "kn" %}
       <h3 align="left">ಖರ್ಚು ಮಾಸ್ಟರ್</h3>
<form  id="donationmaster" method="post" autocomplete="off" >
   <table style="width:60%;" align="center" >    
        <tr>
            <td>
              <font color="red">*</font><label for="expense"><b>ವೆಚ್ಚದ ಹೆಡ್</label>
                <input autofocus="on" type="text" name="expensehead" id="expensehead"   placeholder="ವೆಚ್ಚದ ಹೆಡ್ ಅನ್ನು ನಮೂದಿಸಿ" required class="form-control"  >
            </td>
        </tr>
        <tr>
            <td>
              <font color="red">*</font><label for="expense_kn"><b>ಕನ್ನಡದಲ್ಲಿ ವೆಚ್ಚದ ಪ್ರಕಾರ</label>
                <input autofocus="on" type="text" name="expense_kn" id="expense_kn"   placeholder="ಕನ್ನಡದಲ್ಲಿ ಖರ್ಚು ಪ್ರಕಾರವನ್ನು ನಮೂದಿಸಿ" required class="form-control"  >
            </td>
        </tr>
    <tr>
    	<td align="center"><br/>
            <input type="submit" id="submit" name="submit" value="Save" class="btn btn-success" data-parsley-error-message="Valid input required." placeholder="" autocomplete="off" fdprocessedid="ch7q2d">
            <input type="reset" name="btnreset" value="Cancel" class="btn btn-warning">
        </td>
    </tr>
         {% csrf_token %}
    
</table></form>

{%else%}

       <h3 align="left">Expense Master</h3>
<form  id="donationmaster" method="post" autocomplete="off" >
   <table style="width:60%;" align="center" >    
        <tr>
            <td>
              <font color="red">*</font><label for="expense"><b>Expense Head</label>
                <input autofocus="on" type="text" name="expensehead" id="expensehead"   placeholder="Enter Expense Head" required class="form-control"  >
            </td>
        </tr>
        <tr>
            <td>
              <font color="red">*</font><label for="expense_kn"><b>Donation Type in Kannada</label>
                <input autofocus="on" type="text" name="expense_kn" id="expense_kn"   placeholder="Enter Expense Type in Kannada" required class="form-control"  >
            </td>
        </tr>
    <tr>
        <td align="center"><br/>
            <input type="submit" id="submit" name="submit" value="Save" class="btn btn-success" data-parsley-error-message="Valid input required." placeholder="" autocomplete="off" fdprocessedid="ch7q2d">
            <input type="reset" name="btnreset" value="Cancel" class="btn btn-warning">
        </td>
    </tr>
         {% csrf_token %}
    
</table></form>
{%endif%}
    {% include 'design/last.html' %}

</body>
</html>