  {% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>ಶ್ರೀ ವೆಂಕಟೇಶ್ವರ ದೇವಸ್ಥಾನ ಟ್ರಸ್ಟ್ (ರಿ.)</title>

{%  include "design/head.html" %}
</head>
<body oncontextmenu="return false;" >

{%  include "design/mid.html" %}
<div class="container-fluid">
<div class="row">

      <div class="col-lg-3 col-sm-0 col-md-0">
      </div>

   <div class="col-lg-6 col-sm-12 col-md-12">
<form name="form1" method="post" class="form-control"  autocomplete="off"  >
      <div class="container-fluid">
            <div class="row form-floating">
                  <div class="col-lg-12 col-sm-12 col-md-12 mt-2">
                        <font color="red">*</font><b>Mobile Number</b>
                              <input type="number" autofocus="on" name="txtmobilenumber" class="form-control" placeholder="Enter Registered Mobile Number"    required >
                  </div>   
            </div>
            <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12 mt-2">
                                          <font color="red">*</font><b>Password</b>

                        <input  type="password" name="txtpassword" class="form-control" placeholder="Enter Password" maxlength="20"    AUTOCOMPLETE="OFF" REQUIRED >
                  </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12"><br/>
                        <center>
                        <button  type="submit"   class="btn btn-success">Signin</button>
                        <input type="reset" name="btnreset" value="Cancel" class="btn btn-warning">
                        </center>
                  </div>
            </div>

</div>
{% csrf_token %}
</form>
</div>

{%  include "design/last.html" %}
</body>
</html>
